@model ProductCategoryViewModel
@{
    ViewData["Title"] = Model.Category.Name + (Model.Products.PageIndex == 1 ? "" : " - " + _local["Page"] + " " + Model.Products.PageIndex);
	ViewData["Description"] = Model.Category.Name + (Model.Products.PageIndex == 1 ? "" : " - " + _local["Page"] + " " + Model.Products.PageIndex);
    Layout = "~/Views/Shared/_Layout.cshtml";
	var languageId = CultureInfo.CurrentCulture;
}
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _local;

<ul class="breadcrumb">
	<li><a href="/">Home</a> <span class="divider">/</span></li>
	<li class="active">Products Name</li>
</ul>
<h3> @Model.Category.Name <small class="pull-right"> 40 <localize>available products</localize> </small></h3>	
<hr class="soft"/>
<p>
	Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - that is why our goods are so popular and we have a great number of faithful customers all over the country.
</p>
<hr class="soft"/>
<form class="form-horizontal span6">
	<div class="control-group">
		<label class="control-label alignL"><localize>Sort By</localize> </label>
		<select>
			<option>Priduct name A - Z</option>
			<option>Priduct name Z - A</option>
			<option>Priduct Stoke</option>
			<option>Price Lowest first</option>
        </select>
	</div>
</form>
	  
<div id="myTab" class="pull-right">
	<a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
	<a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
</div>
<br class="clr"/>
<div class="tab-content">
	<div class="tab-pane" id="listView">
		@for (int i = 0; i < Model.Products.Items.Count; i++)
		{
			var item = Model.Products.Items[i];
			var price = @item.Price.ToString(Decimal.Truncate(@item.Price) == @item.Price ? "C0" : "C");
			<div class="row">	  
				<div class="span2">
					<img src="@item.ThumbnailImagePath" alt="@item.Name"/>
				</div>
				<div class="span4">
					<h3><localize>New | Available</localize></h3>				
					<hr class="soft"/>
					<h5>@item.Name</h5>
					<p>@item.Description</p>
					<a class="btn btn-small pull-right" href="product_details.html"><localize>View Details</localize></a>
					<br class="clr"/>
				</div>
				<div class="span3 alignR">
				<form class="form-horizontal qtyFrm">
					<h3> @price</h3>
					<label class="checkbox">
						<input type="checkbox">  Adds product to compair
					</label>
					<br/>			
					<a href="product_details.html" class="btn btn-large btn-primary"><localize>Add to</localize>  <i class=" icon-shopping-cart"></i></a>
					<a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>			
				</form>
				</div>
			</div>
			<hr class="soft"/>
		}
	</div>

	<div class="tab-pane  active" id="blockView">
		<ul class="thumbnails">
			@for (int i = 0; i < Model.Products.Items.Count; i++)
			{
				var item = Model.Products.Items[i];
				var price = @item.Price.ToString(Decimal.Truncate(@item.Price) == @item.Price ? "C0" : "C");
				<li class="span3">
					<div class="thumbnail">
						<a href="/@languageId/@_local["productUrl"]/@item.Id"><img src="@item.ThumbnailImagePath" alt="@item.Name"/></a>
						<div class="caption">
							<h5>Manicure &amp; Pedicure</h5>
							<p> 
								@item.Description
							</p>
							<h4 style="text-align:center">
								<a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> 
								<a class="btn btn-primary" href="#"><localize>Add to</localize><i class="icon-shopping-cart"></i></a> 
								<a class="btn" href="#">@price</a>
							</h4>
						</div>
					</div>
				</li>
			}
		</ul>
		<hr class="soft"/>
	</div>
</div>

@await Component.InvokeAsync("Pager", Model.Products)

